// (C) Copyright Jon Williams 2015 - See LICENSE file
//
// The baseline typography for the application. Includes the headers and other
// text-based sections. Pretty much everything except structure.

@require _variables

h1
  font-size base-font-size * 2
  line-height base-line-height
  margin 0
  padding 0
