// (C) Copyright Jon Williams 2015 - See LICENSE file
//
// Variables shared throughout stylesheets. If possible, put everything in a
// variable (even if derived).

base-font-size = 14px
base-line-height = 1.4em

font-sans-serif = Helvetica Neue, Helvetica, sans-serif;

color-canvas = #e7e2d6
