body {
  background: #e7e2d6 url('canary.jpg') no-repeat;
  background-size: cover;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
}

.container {
  margin: 0 auto;
  max-width: 420px;
}
