// (C) Copyright Jon Williams 2015 - See LICENSE file
//
// The application global stylesheet. You can have styles at a React component
// basis, or put them here if you prefer. Global styles are best put here.

@require _variables
@require _typography

body
  background color-canvas url('canary.jpg') no-repeat
  background-size cover
  font-family font-sans-serif
  font-size base-font-size
  line-height base-line-height
  margin 0
  padding 0

.container
  margin 0 auto
  max-width 420px
