doctype html
html
  head
    meta(charset='utf-8')
    title="Canary React!"
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href=stylesheetPath, rel='stylesheet')
  body
    #app.container!= content
    script(src=javascriptPath, defer)
